node_modules/
dist/
.npm-cache/
tmp/
.DS_Store
assets/video/
藍筱淇.pdf
public/lan-hsiao-chi-resume.pdf
public/assets/video/esg_breakfast1.mp4
public/assets/video/esg_breakfast2.mp4
public/assets/video/health_campaign.MP4
public/assets/video/hero_06241.MP4
public/assets/video/productDesign.mp4
public/assets/poster/
